<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @awesome_stuff.name %>
</p>

<%= link_to 'Edit', edit_awesome_stuff_path(@awesome_stuff) %> |
<%= link_to 'Back', awesome_stuffs_path %>
